* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
	background: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80')
		rgba(0, 0, 0, 0.8);
	background-blend-mode: multiply;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.container {
	height: 70vh;
	width: 70vw;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	overflow: hidden;
	position: relative;
	z-index: 2;
}
.slide {
	background-image: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');
	background-position: center center;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	position: relative;
	bottom: 15px;
	right: 200px;
}

.arrows {
	background-color: transparent;
	border: 2px solid #ffa500;
	padding: 23px 15px;
	font-size: 30px;
	color: white;
	cursor: pointer;
}

.right-arrow {
	position: fixed;
	right: calc(15vw - 58px);
	top: 50%;
	z-index: -1;
	transform: translateY(-50%);
	cursor: pointer;
}

.left-arrow {
	position: fixed;
	left: calc(15vw - 58px);
	top: 50%;
	z-index: -1;
	transform: translateY(-50%);
	cursor: pointer;
}
