@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    box-sizing: border-box;
}


body{
    background-color: steelblue;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
}

.container{
    background-color: rgb(235, 240, 255);
    width: 800px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    padding: 20px 20px;
    max-width: 100%;
}

h2{ 
    opacity: 0.5;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    
}
button{
    padding: 15px 40px;
    border-radius: 10px;
    border: 0;
    position:absolute;
    bottom: 10px;
    transform: translate(-50%, -50%);
    transition: 0.1s ease;
    cursor: pointer;
    box-shadow: 1px 2px 2px 1px steelblue;
    background-color: dodgerblue;
    color: white;
    font-size: 17px;
    white-space: nowrap;
}

button:active{
    transform: translate(-50%, -50%) scale(0.92);
}

.spaceForJoke{
    letter-spacing: 2px;
    font-size: 20px;
    padding: 40px;

}
