// Margin & padding classes => Boostrap5
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
	.m-#{$space} {
		margin: #{$space}rem;
	}

	.my-#{$space} {
		margin: #{$space}rem 0;
	}

	.mx-#{$space} {
		margin: 0rem #{$space}rem;
	}

	.mt-#{$space} {
		margin: #{$space}rem 0rem 0rem 0rem;
	}
	.mb-#{$space} {
		margin: 0rem 0rem #{$space}0rem;
	}

	.ml-#{$space} {
		margin: 0rem 0rem 0rem #{$space}rem;
	}
	.mr-#{$space} {
		margin: 0rem #{$space}rem 0rem 0rem;
	}

	.p-#{$space} {
		padding: #{$space}rem;
	}

	.py-#{$space} {
		padding: #{$space}rem 0;
	}

	.px-#{$space} {
		padding: 0rem #{$space}rem;
	}
	.pt-#{$space} {
		padding: #{$space}rem 0rem 0rem 0rem;
	}
	.pb-#{$space} {
		padding: 0rem 0rem #{$space}0rem;
	}
	.pl-#{$space} {
		padding: 0rem 0rem 0rem #{$space}rem;
	}
	.pr-#{$space} {
		padding: 0rem #{$space}rem 0rem 0rem;
	}
}
