
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    height:100vh;
    background-color: #e1e1e1;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input {
    border: 1px solid;
    padding: 20px;
    font-size: 18px;
    background-color: #eeeeee;
    font-weight: 500;
}

.output, .output2, .output3{
    border: 1px solid #999;
    padding: 20px;
    font-size: 18px;
    background-color: #eeeeee;
    font-weight: 500;
    width: 130px;
    margin: 20px;
    height: 65px;

}
p{
transform: translateY(-80px);
font-size: 15px;
font-weight: bold;

}